<div class="book-container">
    <h2 class="page-title">Hardcover <span class="titel-color">Fiction</span></h2>
    <ul class="books">
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
        <li class="book-card" id="book1">
            <div class="box-overlay">
                <img class="book-image" src="./img/Rectangle 13.jpg" alt="Book 1">
                <p class="overlay">Quick view</p>
            </div>
            <div class="book-text">
                <h3 class="book-title">I will find you</h3>
                <p class="book-description">Description 1</p>
            </div>
        </li>
    </ul>
</div>