<header class="header">
    <div class="container cont-header ">
        <nav class="list-header">
            <a class="logo-header" href="./index.html">
                <svg width="24" height="24">
                    <use href="./images/sprite.svg#logo"></use>
                </svg>Bookshelf
            </a>
            <ul class="list-nav">
                <li class="item-list-nav" id="header-home-btn">
                    <a class="link-nav" href="./index.html">home</a>
                </li>
                <li class="item-list-nav" id="header-shop-btn">
                    <a class="link-nav" href="./2-shopping-list.html">shopping list
                        <svg class="icon-shop-header" width="13.33" height="16.67">
                            <use href="./images/sprite.svg#shop"></use>
                        </svg>
                    </a>                   
                </li>
            </ul>
        </nav>
        <div class="buttons-header">
            <button class="toggle-theme"></button>
            <button class="btn-menu">
                <svg class="icon-menu-header" width="28" height="28">
                    <use class="icon-menu-mobile" href="./images/sprite.svg#burger"></use>
                </svg>
            </button>
        </div>
    </div>
</header>