<header class="header">
    <div class="container cont-header">
        <nav class="list-header">
            <a href="./index.html" class="logo-header"><svg class="icon-logo-header" width="24" height="24"><use href="./images/header/logo-header.svg#icon-logo-header"></use></svg>Bookshelf</a>
            <ul class="list-nav">
                <li class="item-list-nav"><a href="../partials/homePage.html" class="link-nav">home</a></li>
                <li class="item-list-nav"><a href="../partials/shopping-list.html" class="link-nav">shopping list<svg class="icon-shopping-header" width="13.33" height="16.67"><use href="./images/header/shopping-icon.svg#icon-shopping"></use></svg></a></li>
            </ul>
        </nav>
        <div class="buttons-header">
        <!-- Кнопка перимикача -->
        <button class="toggle-theme"></button>
        <!-- Кнопка перимикача -->

        <button class="btn-menu"><svg class="icon-menu-header" width="28" height="28"><use href="./images/header/mobile-header-icon.svg#icon-left"></use></svg></button>

    </div>
    </div>
</header>