<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <svg width="24" height="24">
          <use href="./images/sprite.svg#logo"></use>
        </svg>Bookshelf
      </a>
      <ul class="header-list-nav">
        <li>
          <a class="header-link-nav" href="./index.html" id="header-home-btn">home</a>
        </li>
        <li>
          <a class="header-link-nav" href="./2-shopping-list.html" id="header-shop-btn">shopping list
            <svg class="header-icon-shop" width="13.33" height="16.67">
              <use href="./images/sprite.svg#shop"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header-buttons">
      <button class="toggle-theme"></button>
      <button class="btn-menu">
        <svg class="icon-burger" id="icon-burger" width="28" height="28">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
        <svg class="icon-burger is-hidden" id="icon-x-close" width="28" height="28">
          <use href="./images/sprite.svg#x-close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>