<div>
  <h1>Best Sellers Books</h1>
  <ul class="categories">
    <li class="categoryName">
      Combined Print and E-Book Fiction
      <ul class="bookList"></ul>
      <button type="button">see more</button>
    </li>
    <li class="categoryName">
      COMBINED PRINT & E-BOOK NONFICTION
      <ul class="bookList"></ul>
      <button type="button">see more</button>
    </li>
    <li class="categoryName">
      HARDCOVER FICTION
      <ul class="bookList"></ul>
      <button type="button">see more</button>
    </li>
    <li class="categoryName">
      HARDCOVER nonFICTION
      <ul class="bookList"></ul>
      <button type="button">see more</button>
    </li>
  </ul>
</div>

<script type="module" src="../js/homePage.js"></script>
