<!-- Привязати клас is-hidden для приховування контейнеру menu-container-->

<div class="menu-container js-menu-container is-hidden" id="mobile-menu">
  <ul class="mobile-menu-list">
    <li class="item-list-nav" id="mob-menu-home-btn">
      <a class="mobile-button" href="./index.html">home</a>
    </li>
    <li class="item-list-nav" id="mob-menu-shop-btn">
      <a class="mobile-shopping-list" href="./2-shopping-list.html">shopping list
        <svg class="mobile-shopping-icon" width="13.33" height="16.67">
          <use href="./images/sprite.svg#shop"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>