<div class="menu-container js-menu-container" id="mobile-menu">
  <button type="button" class="menu-close js-close-menu">
    <svg class="x-close" width="28" height="28">
      <use href="../images/header/mobile-heder-icons.svg#icon-x-close"></use>
    </svg>
  </button>

  <div class="mobile-menu-list">
    <button class="mobile-button" type="button">Home</button>
    <a class="mobile-shopping-list" href=""
      >shopping-list
      <svg class="mobile-shopping-icon" width="20" height="20">
        <use href="../images/header/shopping-icon.svg#icon-shopping"></use>
      </svg>
    </a>
  </div>
</div>
