<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-header">
    <a href="./index.html" class="logo-header"
      ><svg class="icon-logo-header" width="24" height="24">
        <use href="./images/header/logo-header.svg#icon-logo-header"></use></svg
      >Bookshelf</a
    >
    <div class="mobile-buttons-icons">
      <button class="toggle-theme"></button>
      <button type="button" class="menu-close js-close-menu">
        <svg class="xx-close" width="28" height="28">
          <use
            href="../images/header/mobile-heder-icons.svg#icon-x-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="mobile-menu-list">
    <button class="mobile-button" type="button">Home</button>
    <a class="mobile-shopping-list" href=""
      >shopping-list
      <svg class="mobile-shopping-icon" width="20" height="20">
        <use href="../images/header/shopping-icon.svg#icon-shopping"></use>
      </svg>
    </a>
  </div>

  <img
    class="mobile-image-books"
    src="../images/mobile-menu/bg-photo.jpg"
    alt="books examples"
  />
</div>
