<div class="modal" id="modal">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <div class="modal-card">
            <img class="modal-book-cover" src="" alt="Book Cover">
            <div class="modal-blok-text">
                <h2 class="modal-book-title"></h2>
                <p class="modal-author"></p>
                <p class="modal-description"></p>
                <div class="modal-links">
                    <a class="modal-link" href="" target="_blank">
                        <svg class="modal-icon">
                            <use href=""></use>
                        </svg>
                    </a>
                    <a class="modal-link" href="" target="_blank">
                        <svg class="modal-icon">
                            <use href=""></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <button class="modal-add-to-cart">Add to Shopping List</button>   
    </div>
</div>
