<div class="modal" id="modal">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <div class="modal-card">
            <img class="modal-book-cover" src="" alt="Book Cover">
            <div class="modal-blok-text">
                <h2 class="modal-book-title">Title</h2>
                <p class="modal-author">author</p>
                <p class="modal-description">description</p>
                <div class="modal-links">
                    <a class="link" href="https://www.amazon.com/">
                        <img class="icon-link-amazon" src="../images/pop-up/amazon.png" width="66px" height="33px" />
                    </a>
                    <a class="link" href="https://goto.applebooks.apple/">
                        <img class="icon-link-apple" src="../images/pop-up/open-book.png" width="32px" height="32px" />
                    </a>
                </div>
            </div>
        </div>
        <button class="modal-add-to-cart">Add to Shopping List</button>
    </div>
</div>