<!-- <button class="scroll-button" onclick="scrollToTop()"></button> -->

<!-- <button class="scroll-button" onclick="scrollToTop()">
    <svg class="icon" aria-hidden="true" style="width: 24px; height: 24px;">
        <use xlink:href="/src/images/scroll-up#icon-Vector-scroll"></use>
    </svg>
</button> -->

<button class="scroll-button" onclick="scrollToTop()">
    <svg class="icon icon-Vector-scroll">
        <use href="/src/images/scroll-up/Vector-scroll.svg#icon-Vector-scroll"></use>
    </svg>
</button>


