<div class="container-shopping-list">
  <h1 class="shop-page-title">Shopping <span class="page-accent">List</span></h1>
  <ul class="book-list-order" id="bookList">
    <li class="book-card">
      <img
        class="book-cover-img"
        src="https://storage.googleapis.com/du-prd/books/images/9781984826398.jpg"
        alt="Book Cover"
      />
      <div class="book-details">
        <h2 class="book-name-title">SWEET ENOUGH</h2>
        <p class="book-name-category">Advice How-To and Miscellaneous</p>
        <p class="book-short-description">
          Short description of the book content
        </p>
        <div class="book-author-link">
          <p class="author">Alison Roman</p>
          <a
            class="link"
            href="https://www.amazon.com/dp/1984826395?tag=NYTBSREV-20"
          >
            <img
              class="icon-link"
              src="../images/shopping-list/amazon-icon.svg"
              width="32px"
              height="11px"
            />
          </a>
          <a
            class="link"
            href="https://goto.applebooks.apple/9781984826398?at=10lIEQ"
          >
            <img
              class="icon-link"
              src="../images/shopping-list/аpple-icon.svg"
              width="16"
              height="16"
            />
          </a>
        </div>
        <button class="remove-book">
          <img
            class="del-icon"
            src="../images/shopping-list/trash-03.svg"
            alt="Delete"
          />
        </button>
      </div>
    </li>
  </ul>
</div>
