<h1 class="shop-title">Shopping
    <span class="shop-title-decor">List</span> 
</h1>
<div class="shopping-list-container js-shopping-list">
    <ul class="shop-cart-list"> 
        <li class="shop-cart-container" data-id="">
            <div class="shop-cart-wrap">
                <div class="shop-image-wrapper">
                    <img class="shop-image" src="./images/image.jpg" alt="">
                </div>
                <div class="shop-cart-info">
                    <h2 class="shop-cart-title">Title</h2>
                    <h3 class="shop-cart-category">category</h3>
                    <p class="shop-cart-description">description</p>
                    <div class="shop-cart-bottom-wrap">
                        <h4 class="shop-cart-author">author</h4>
                        <ul class="shop-cart-media">
                            <li class="shop-cart-media-item">
                                <a href="" target="_blank" rel="noopener noreferrer">
                                    <picture>
                                        <source srcset="" type="image/webp" />
                                        <source srcset="" type="image/png" />
                                        <img class="media-icon amazon-icon" src="./images/shopping-list/amazon.png" alt="Amazon logo" />
                                    </picture>
                                </a>    
                            </li>
                            <li class="shop-cart-media-item">
                                <a href="" target="_blank" rel="noopener noreferrer">
                                    <picture>
                                        <source srcset="" type="image/webp" />
                                        <source srcset="" type="image/png" />
                                        <img class="media-icon" src="./images/shopping-list/apple.png" alt="Apple book logo" />
                                    </picture>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="shop-cart-btn" type="button" data-title="">
                        <svg class="shop-cart-btn-trash">
                            <use href="./images/sprite.svg#trash"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
    </ul> 
<p class="shopping-list-text">This page is empty, add some books and proceed to order.</p>
        <picture>
            <source media="(min-width: 768px)" srcset="
            ./images/shopping-list/books_322_@1.webp 1x,
            ./images/shopping-list/books_322_@2.webp 2x
                            " type="image/webp" />
            <source media="(min-width: 768px)" srcset="
            ./images/shopping-list/books_322_@1.png 1x,
            ./images/shopping-list/books_322_@2.png 2x
                            " type="image/png" />

            <source media="(max-width: 767px)" srcset="
            ./images/shopping-list/books_265_@1.webp 1x,
            ./images/shopping-list/books_265_@2.webp 2x
                            " type="image/webp" />
            <source media="(max-width: 767px)" srcset="
            ./images/shopping-list/books_265_@1.png 1x,
            ./images/shopping-list/books_265_@2.png 2x
                            " type="image/png" />

            <img class="shopping-list-image" src="./images/shopping-list/books_265_@1.webp" alt="Books" loading="lazy" />
        </picture>
</div>
