<div class="fund-block">
  <div class="fund-title-icon">
    <h2 class="funds-title">Support Ukraine</h2>
    <img
      class="fund-title-img"
      src="./images/support-ukraine/Vector.svg"
      alt="national emblem"
    />
  </div>
  <ul class="funds-list" id="fundList">
    <li class="fund-item">
      <span class="fund-num">01</span>
      <a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/stc-logo-removebg-preview.png"
          alt="save the children fund"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">02</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/ph-logo.png"
          alt="project hope fund"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">03</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/medical-corps.png"
          alt="international medical corps fund"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">04</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/razom-logo.png"
          alt="razom fund"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">05</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/aah-logo.png"
          alt="action against hunger fund"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">06</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/cfsp-logo.png"
          alt="charity foundation sergiy prytula"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">07</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/msf-logo-removebg-preview.png"
          alt="medecins sans frontieres"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">08</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/wv-logo.png"
          alt="world vision"
          class="fund-img"
      /></a>
    </li>
    <li class="fund-item">
      <span class="fund-num">09</span
      ><a href="#" target="_blank" class="fund-link"
        ><img
          src="./images/support-ukraine/u24-logo.png"
          alt="united24"
          class="fund-img"
      /></a>
    </li>
  </ul>
  <div class="btn-container">
    <button class="fund-btn" id="myButton">
      <img src="./images/support-ukraine/arrow.svg" alt="" class="arrow-fund" />
    </button>
  </div>
</div>
