<div class="fund-block">
  <div class="fund-title-icon">
    <h2 class="funds-title">Support Ukraine</h2>
    <img class="fund-title-img" src="#" alt="img">
  </div>
  <ul class ="funds-list" id="fundList">
    <li class="fund-item"><span class="fund-num">01</span> <a href=""><img src="./images/support-ukraine/save-the-children.png" alt="save the children fund" class="fund-img"></a></li>
    <li class="fund-item"><span class="fund-num">02</span><a href=""><img src="./images/support-ukraine/project-hope.png" alt="project hope fund" class="fund-img"></a></li>
    <li class="fund-item"><span class="fund-num">03</span><a href=""><img src="./images/support-ukraine/medical-corps.png" alt="international medical corps fund" class="fund-img"></a></li>
    <li class="fund-item"><span class="fund-num">04</span><a href=""><img src="./images/support-ukraine/razom.png" alt="razom fund" class="fund-img"></a></li>
    <li class="fund-item"><span class="fund-num">05</span><a href=""><img src="./images/support-ukraine/action-against.png" alt="action against hunger fund" class="fund-img"></a></li>
    <li class="fund-item"><span class="fund-num">06</span><a href=""><img src="./images/support-ukraine/sergiy-prytula.png" alt="charity foundation sergiy prytula" class="fund-img"></a></li>
    <!-- додай ще посилання на останні три організації -->
  </ul>
</div>
