:root{
--main-bg: #F6F6F6;
--toggl-bg: url(../images/header/switcher_whit.svg);
--text-bestsellers: #111;
--text-sb: rgba(17, 17, 17, 0.6);
--scrollbar-bg: #e0e0e0;
--btn-text:#fff;
--btn-bg:#4f2ee8;
--header-bg: #fff;
--modal-bg-color: #ffffff;
--border-color: #111111;
--icon-color: #111111;
}

:root[data-theme ='dark']{
  --main-bg: #202024;
  --toggl-bg: url(../images/header/switcher_dark.svg);
  --text-bestsellers: #fff;
  --text-sb: rgba(255, 255, 255, 0.6);
  --scrollbar-bg: rgba(17, 17, 17, 0.6);
  --btn-text: #111;
  --btn-bg: #eac645;
  --header-bg: #111;
  --modal-bg-color: #202024;
  --border-color: #ffffff;
  --icon-color: #ffffff;
}

body {
    font-family: 'DMSans', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--main-bg);
    color: var(--text);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }

    .main-container {
      gap: 98px;
    }

    .sidebar {
      flex-direction: row;
      gap: 32px;
    }
  }

  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding-left: 24px;
      padding-right: 24px;
    }

    .main-container {
      flex-direction: row;
      gap: 40px;
    }

    .sidebar {
      flex-direction: column;
      gap: 86px;
    }

    .home-page {
      display: flex;
      flex-grow: 1;
      padding-top: 40px;
    }
  }