body {
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 400;
    background-color: var(--main-bg);
    color: var(--color-black);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .home-page {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }

    .main-container {
      gap: 98px;
    }

    .sidebar {
      flex-direction: row;
      gap: 32px;
    }
    .list-nav{
      display: flex;
      align-items: center;
      gap: 24px;
     
  }
  }

  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding-left: 24px;
      padding-right: 24px;
    }

    .main-container {
      flex-direction: row;
      gap: 40px;
    }

    .sidebar {
      flex-direction: column;
      gap: 86px;
    }
  }