.toggle-theme{
    width: 40px;
    height: 24px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: var(--toggl-bg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 14px–∂
}

.cont-header{
    display: flex;
    border-radius: 0 0 8px 8px;
    height: 64px;
    border: 1.50px solid var(--text-bestsellers);
    background: var(--header-bg);
    align-items: center;
}
.list-header{
    display: flex;
    margin-right: auto;
}
.logo-header{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;
    font-family: var(--font-family);
    color: var(--text-bestsellers);
    margin-right: 76px;
}
.list-nav{
        display: none;
        
}
.link-nav{
    display: flex;
    align-items:safe;
    gap: 4px;
    width: 100%;
    height: 100%;
    color: var(--text-bestsellers);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
.btn-menu{
    padding: 0;
    margin: 0;
    background-color: var(--header-bg);
    border: none;
    height: 28px;
}
.icon-menu-header{
    stroke: var(--text-bestsellers);
    width: 100%;
    height: 100%;
}
.icon-menu-header:hover{
    stroke: #4F2EE8;
}

.icon-shopping-header{
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--icon-shopping);
}

/* #icon-shopping{
    background-color: transparent;
} */

.buttons-header{
    align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .list-nav{
        display: flex;
        align-items: center;
        gap: 24px;
       
    }
    .item-list-nav{
        padding: 8px 16px;
        border-radius: 36px;
    }
        
    .item-list-nav:hover{
        padding: 8px 16px;
        border-radius: 36px;
        background-color: #EAC645;
        transition: all 0.3s ease;
    }

    .btn-menu{
        display: none;
    }
    .cont-header{
        height: 72px;
    }
}

@media screen and (min-width: 1440px) {
    .btn-menu{
        display: none;
    }
    .list-nav{
        display: flex;
        align-items: center;
        gap: 24px;
       
    }
    .item-list-nav{
        padding: 8px 16px;
        border-radius: 36px;
    }
    .item-list-nav:hover{
        padding: 8px 16px;
        border-radius: 36px;
        background-color: #EAC645;
        transition: all 0.3s ease;
    }
    .cont-header{
        height: 72px;
    }
}