@media screen and (max-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay {
    background-image: url(../images/mobile-menu/mobile-menu.png),
      radial-gradient(
        189.32% 190.93% at 59.76% -23.42%,
        rgb(79, 46, 232) 18.02733987569809%,
        rgb(255, 255, 255) 100%
      );
    background-position: 0 90%;
    background-size: contain;
    background-repeat: no-repeat;

  .mobile-image-books {
    position: relative;
    width: 100%;
  }
  .mobile-header {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 72px;
    border: 1.5px solid #111;
    background: #ffffff;
    align-items: center;
  }
  .menu-close {
    border: none;
    background: none;
    padding: 0;
    height: 28px;
  }
  .xx-close {
    stroke: black;
  }
  .mobile-buttons-icons {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .mobile-shopping-list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  .mobile-shopping-icon {
    fill: #ffffff;
  }
  .menu-container {
    transform: translateX(0);
  }

  .mobile-menu-list {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .mobile-button {
    border-radius: 36px;
    padding: 8px 16px;
    width: 72px;
    height: 34px;
    background-color: yellow;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
}
