.modal {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 287px;
  width: 100%;
  min-height: 682px;
  padding: 40px 24px;

  background-color: var(--modal-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 18px;
}

.modal-close {
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  margin-left: auto;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.x-close {
  stroke: var(--icon-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-close:hover,
.x-close:focus {
  stroke: #4f2ee8;
}

.modal-book-cover {
  width: 287px;
  height: 408px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 14px;
}

.modal-book-title {
  font-size: 16px;
  letter-spacing: -0.04em;
  color: var(--text-bestsellers);
  margin-bottom: 4px;
}

.modal-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 18px;
}

.modal-description {
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: var(--text-bestsellers);
  margin-bottom: 14px;
}

.modal-links {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 40px;
}

.modal-icon {
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: filter grayscale(100%); */
  transition: var(--invert-icon);
}

.modal-icon:hover,
.modal-icon:focus {
  filter: var(--shadow-modal);
}

.modal-add-to-cart {
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-bestsellers);
  border: none;
  background-color: transparent;

  display: block;
  padding: 14px 28px;
  margin: 0 auto 8px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-add-to-cart:hover,
.modal-add-to-cart:focus {
  background-color: #4f2ee8;
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 500px;
    min-height: 385px;
    padding: 40px;
  }

  .modal-close {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }

  .x-close {
    width: 14px;
    height: 14px;
  }

  .modal-card {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  .modal-book-cover {
    width: 192px;
    height: 281px;
    margin-bottom: 0;
  }

  .modal-book-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .modal-author {
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 20px;
  }

  .modal-description {
    margin-bottom: 20px;
  }

  .modal-add-to-cart {
    font-size: 18px;
    line-height: 1.33;
    width: 100%;
    padding: 20px;
  }
}
