
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 54px;
    height: 54px;
    border: 6px solid lightgrey;
    border-radius: 50%;
    background-color: blue;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-button.show {
    opacity: 1;
}

.scroll-button svg {
    position: absolute;
        top: 30%;
        left: 28%;
  fill: white;
 } 
