
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 54px;
    height: 54px;
    border: 6px solid lightgrey;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: default;
}

.scroll-button.show {
    opacity: 1;
    cursor: pointer;
}

.scroll-up-icon {
    height: 11px;
    width: 19px;
    fill: white;

 } 
