ul.book-list {
  list-style: none;
  padding: 0;
}

ul.book-list li {
  margin-bottom: 5px;
}

.shop-page-title {
  margin: 40px auto;
}

.page-accent {
  color: rgb(79, 46, 232);
}

.book-list-order {
  position: relative;
}

.book-card {
  display: flex;
  align-items: center;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 14px;
  background: white;
}

.book-cover-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
  margin-right: 14px;
}

.book-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.book-name-title {
  font-size: 16px;
  margin-bottom: 4px;
}

.book-name-category {
  color: rgb(180, 175, 175);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 8px;
}

.book-short-description {
  width: 193px;
  height: 68px;
  margin-bottom: 10px;
}

.book-author-link {
  display: flex;
}

.author {
  color: rgb(180, 175, 175);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-align: left;
  margin-right: auto;
}

.link {
  display: inline-flex;
  align-items: flex-end;
  margin-left: 8px;
}

.remove-book {
  position: absolute;
  right: auto;
  top: 14px;
  background: rgb(79, 46, 232);
  border: none;
  cursor: pointer;
  align-self: flex-end;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.del-icon {
  width: 16px;
  height: auto;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
