@import url('./reset.css');
@import url('./fonts.css');
@import url('./base.css');
@import url('./header.css');
@import url('./categories.css');
@import url('./support-ukraine.css');
@import url('./homePage.css');
@import url('./shopping-list.css');
@import url('./menu.css');
@import url('./pop-up.css');

